<div class="container">
  <div class="jumbotron">
    <h1>{{user.org}} Dashboard</h1>
    <div class="card-body">
      <h4>Mailbox Stats:</h4>
      <p><strong>Open:</strong> {{open}}</p>
      <p><strong>Closed:</strong> {{closed}}</p>
      <p><strong>Total:</strong> {{total}}</p>
    </div>
  </div>
</div>