<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Mailroom</h1>
    <p class="lead">Designed for shelters & non-profits to securely manage client data & accurately track mailbox activity.</p>
    <hr class="my-4">
    <p>People who are unhoused, are fleeing domestic violence, or otherwise do not have access to a safe, consistant mailing address may not be able to apply for benefits, receive essential medications, or order important documents such as birth certificates.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
  <div class="features">
    <h2>Features</h2>
    <div class="features-list flex">
      <div class="feature-item">
        <div class="feature-circle"></div>
        <h3>Secure</h3>
      </div>
      <div class="feature-item">
        <div class="feature-circle"></div>
        <h3>Easy to Use</h3>
      </div>
      <div class="feature-item">
        <div class="feature-circle"></div>
        <h3>Free!</h3>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <p>Developed by <a href="https://valerievozza.dev" alt="Valerie Vozza">Valerie Vozza</a></p>
  <p>
    <a href="https://github.com/valerievozza" alt="GitHub">GitHub</a> | <a href="https://github.com/valerievozza/mailroom" alt="GitHub Repo">Repo</a>
  </p>
</footer>