<div class="container-fluid" align="right">
<h3>
    <a href="/signup" class="btn btn-small btn-primary" style="text-decoration: none">Signup</a>
    <a href="/login" class="btn btn-small btn-primary" style="text-decoration: none">Login</a>
  </h3>
</div>

<div class="container" align="center">
  
  <div class="row front-page mb-5">
    <div class="col" align="left">
      <h1 class="display-3 title">Mailroom</h1>
      <hp class="lead">Designed for shelters & non-profits to securely manage client data & accurately track mailbox activity.</p>
      <hr class="my-4">
      <p>People who are unhoused, are fleeing domestic violence, or otherwise do not have access to a safe, consistant mailing address may not be able to apply for much-needed benefits, receive essential medications, or order important documents such as birth certificates.</p>
      <p class="lead lead-buttons">
        {{!-- ! Demo Link --}}
        {{!-- <a class="btn btn-success btn-lg" href="/clients" role="button">Try Demo</a> --}}
        <a class="btn btn-success btn-lg" href="/signup" role="button">Get Started</a>
      </p>
    </div>
    <div class="col front-page-img">
      {{>_support}}
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="bg-dark row mt-5 mb-5 pt-5 pb-5" width="100%">
    <div class="row my-2">
      <div class="col-1" align="center">
        <h5 class="text-info">
          <i class="fa-solid fa-users"></i>
        </h5>
      </div>
      <div class="col-11" align="left">
        <p>
          Create multiple user accounts so your whole staff can access your client database
        </p>
      </div>
    </div>
    <div class="row my-2">
      <div class="col-1" align="center">
        <h5 class="text-info">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </h5>
      </div>
      <div class="col-11" align="left">
        <p>
          Automatically generate a unique mailbox number when adding a new client
        </p>
      </div>
    </div><div class="row my-2">
      <div class="col-sm-1" align="center">
        <h5 class="text-info">
          <i class="fa-regular fa-file"></i>
        </h5>
      </div>
      <div class="col-sm-11" align="left">
        <p>
          Reduce clutter by uploading relevant documents to client files 
        </p>
      </div>
    </div>
    
  </div>

</div>
<div class="center" style="width: 60%; margin: auto">
  <div align="center">
    <h3 class="pt-5">Easy to get started</h3>
  </div>
  <div class="row align-items-end steps">
  <div class="col-sm step-img">
    {{>_login}}
    <h5 class="my-3">1. Sign Up</h5>
  </div>
  <div class="col-sm step-img">
    {{>_add_client}}
    <h5 class="my-3">2. Add Client Data</h5>
  </div>
  <div class="col-sm step-img">
    {{>_check}}
    <h5 class="my-3">3. Ready to Go!</h5>
  </div>
</div>
</div>
<footer>
  <hr>
  <div align="center">
    <p class="social">
      <a class="btn" href="https://github.com/valerievozza/mailroom">
        <i class="fa-brands fa-github fa-fw"></i>
      </a>
      <a class="btn" href="https://linkedin.com/in/valerievozza">
        <i class="fa-brands fa-linkedin fa-fw"></i>
      </a>
      <a class="btn" href="https://twitter.com/valerievozza_">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </p>
    <p>© 2022 <a href="https://valerievozza.dev" alt="Valerie Vozza portfolio">Valerie Vozza</a></p>
  </div>
</footer>