<div class="container" align="center">
  <div class="row front-page">
    <div class="col" align="left">
      <h1 class="display-3 title">Mailroom</h1>
      <hp class="lead">Designed for shelters & non-profits to securely manage client data & accurately track mailbox activity.</p>
      <hr class="my-4">
      <p>People who are unhoused, are fleeing domestic violence, or otherwise do not have access to a safe, consistant mailing address may not be able to apply for much-needed benefits, receive essential medications, or order important documents such as birth certificates.</p>
      <p class="lead lead-buttons">
        <a class="btn btn-success btn-lg" href="/clients" role="button">Try Demo</a>
        <a class="btn btn-success btn-lg" href="/signup" role="button">Get Started</a>
      </p>
    </div>
    <div class="col front-page-img">
      {{>_support}}
    </div>
  </div>
  <div class="features">
    <h2 style="text-align: center">Features</h2>
    <div class="features-list flex">
      <div class="feature-item">
        <div class="feature-circle">
          <i class="fa-solid fa-lock"></i>
        </div>
        <h4>Secure</h4>
      </div>
      <div class="feature-item">
        <div class="feature-circle">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>
        <h4>Easy to Use</h4>
      </div>
      <div class="feature-item">
        <div class="feature-circle">
          <i class="fa-solid fa-rainbow"></i>
        </div>
        <h4>Free!</h4>
      </div>
    </div>
  </div>
</div>
<footer>
  <hr>
  <div align="center">
    <p class="social">
      <a class="btn" href="https://github.com/valerievozza">
        <i class="fa-brands fa-github fa-fw"></i>
      </a>
      <a class="btn" href="https://linkedin.com/in/valerievozza">
        <i class="fa-brands fa-linkedin fa-fw"></i>
      </a>
      <a class="btn" href="https://twitter.com/valerievozza_">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </p>
    <p>© Copyright Valerie Vozza 2022</p>
  </div>
</footer>