<div class="container">
  <div class="row">
    <div class="col-4">
      <h1 class="display-3 title">Mailroom</h1>
      <hp class="lead">Designed for shelters & non-profits to securely manage client data & accurately track mailbox activity.</p>
      <hr class="my-4">
      <p>People who are unhoused, are fleeing domestic violence, or otherwise do not have access to a safe, consistant mailing address may not be able to apply for much-needed benefits, receive essential medications, or order important documents such as birth certificates.</p>
      <p class="lead lead-buttons">
        <a class="btn btn-success btn-lg" href="/clients" role="button">Try Demo</a>
        <a class="btn btn-success btn-lg" href="/signup" role="button">Get Started</a>
      </p>
    </div>
    <div class="col-8">
      {{>_support}}
    </div>
  </div>
  <div class="features">
    <h2 style="text-align: center">Features</h2>
    <div class="features-list flex">
      <div class="feature-item">
        <div class="feature-circle">
          <i class="fa-solid fa-lock"></i>
        </div>
        <h4>Secure</h4>
      </div>
      <div class="feature-item">
        <div class="feature-circle">
          <i class="fa-solid fa-wand-magic-sparkles"></i>
        </div>
        <h4>Easy to Use</h4>
      </div>
      <div class="feature-item">
        <div class="feature-circle">
          <i class="fa-solid fa-rainbow"></i>
        </div>
        <h4>Free!</h4>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid">
  <p>Developed by <a href="https://valerievozza.dev" alt="Valerie Vozza">Valerie Vozza</a></p>
  <p>
    <a href="https://github.com/valerievozza" alt="GitHub">GitHub</a> | <a href="https://github.com/valerievozza/mailroom" alt="GitHub Repo">Repo</a>
  </p>
</footer>