/* hero */
.jumbotron {
  margin-top: 2rem;
  background-color: none !important;
}

/* add space between containers with default bootstrap container classes */
.container, .container-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* add-client {
  display: flex;
  column-gap: 1rem !important;
} */

/* aligns title of client mailbox page and 'add new client' button */
.title {
  display: flex;
  justify-content: center;
}

/* mailbox list layout */
.clientMailbox {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 10px;
  align-items: center;
}

/* .box {
  display: flex;
  flex-direction: column;
} */

/* .clientDetails {
  grid-column: 3 / 15;
}

.checkbox {
  grid-column: 15 / 16;
} */

/* styles check icon for an mailbox that has not been checked today */
.uncheckedMailbox {
  color: #adb5bd !important;
}
.uncheckedMailbox:hover {
  color: #00bc8c !important;
}

.showLeft {
  float: left
}

/* Aligns items to the right in the show client view */
.showRight {
  float: right;
}

.edit-options {
  margin-top: 10px;
}

a.client-list-entry {
  text-decoration: none;
  color: inherit;
}

.check-undo {
  display: flex;
}

.undo {
  color: #adb5bd !important;
}

.safetyConcern {
  color: yellow;
  font-size: 2rem;
  display: inline-block;
}

/* Displays items in a row */
.flex {
  display: flex;
  justify-content: space-around;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-start {
  display: flex;
  column-gap: 10px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.step-img {
  margin: 2.2rem;
}

.lead {
  margin-bottom: 50px;
}


/* .features {
  margin-top: 50px;
}

.features-list {
  margin-top: 30px;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-circle {
  height: 100px;
  width: 100px;
  background-color: #00bc8c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
} */


/* Styles search bar & buttons */
.search {
  column-gap: 10px;
}

/* List of mail checks */
.mailChecks li {
  list-style-type: none;
  margin-left: -30px;
}

h1.title {
  font-family: 'Montserrat' !important;
  font-weight: 600;
  color: #00bc8c;
  letter-spacing: -2px;
  margin-top: 20px;
}

.feature-item h4 {
  margin-top: 20px;
}

.lead-buttons {
  display: flex;
  column-gap: 15px;
}

.fa-paper-plane {
  font-size: 2rem;
  margin-left: 10px
}

.custom {
  background: pink;
}

.row {
  margin-top: 50px;
}

.social i {
  font-size: 1.5rem;
}

.front-page {
  display: flex;
  flex-direction: row;
}

footer {
  font-size: 1.1rem;
}

@media screen and (max-width: 992px) {
  .front-page {
    display: flex;
    flex-direction: column-reverse;
  }
  .front-page-text {
    width: 80%
  }
  .steps {
    margin: 2rem;
  }
  .step-img {
    margin-left: 0rem;
  }
}
/* 
@media scren and (max-width: 720px) {
  .steps {
    display: flex !important;
    flex-direction: column !important;
  }
} */

/* 
body {
  background-color: white;
  color: #222222;
} */