.jumbotron {
  margin-top: 2rem;
  background-color: none !important;
}

.container, .container-fluid {
  margin-top: 10px;
}

.client-form {
  display: flex;
  column-gap: 1rem !important;
}

.title-add {
  display: flex;
  justify-content: space-between;
}

.clientMailbox {
  display: grid;
  grid-template-columns: 1fr 13fr 1fr;
  gap: 10px;
  align-items: center;
}

.box {
  grid-column: 1 / 2;
}

.clientDetails {
  grid-column: 2 / 15;
}

.checkbox {
  grid-column: 15 / 16;
}

.client-list {
  margin: 10px;
}