<div class="container">
  <div class="card">
    <div class="card-header">Error 404</div>
    <div class="card-body">
      <h1 class="card-title">404 Not Found</h1>
      <p>Sorry, this resource is not found</p>
      <a href="/clients" class="btn btn-link">Return to Mailboxes</a>
    </div>
  </div>
</div>